PRIVATE_KEY=
COIN_MARKET_CAP_API_KEY=

REFRESH_INTERVAL=300000 # 5 minutes in milliseconds
MAX_RETRIES=5 # Number of retries on failure
COIN_ID=1 # BTC
DENOMINATED_COIN_ID=USD
ADDITIONAL_SECONDS=40

## SPJS
# Secret Network Configuration
CHAIN_ID=pulsar-3
RPC_URL=https://api.pulsar3.scrttestnet.com

# Wallet Configuration
MNEMONIC=

RECLAIM_CLIENT_ADDRESS=
RECLAIM_CLIENT_SECRET=
